body {
    background: linear-gradient(to bottom, #0f0f0f, #1f1f1f);
    color: white;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 30px auto;
}